{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col text-center"><a href="/">logout</a></div>
    </div>
    <br>
    <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
        <div class="card-body">
            <div id="join">
            <form method="get" action="/private/{{ channel }}"> 
                <div class="form-group">
                <div class='input-group'>
                <input class="form-control" name="password" id="password" placeholder="password">
                    <div class='input-group-append'>
                    <button class='btn btn-primary'>Join</button>
                    </div>
                </div>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}